<%- include('parts/header') %>

    <div style="display: flex;">
        <div style="width: 50%;height: 100vh;">
            <div style="position: absolute;width: 50%;height: 100vh;display: flex;justify-content: center;">
                <%if(showModal===true){ if(cocktailNotFound !=='' ){%>
                    <div class="ingredients-modal">
                        <%= cocktailNotFound %>
                    </div>
                    <%}else{%>
                        <div class="ingredients-modal">
                            <p><%= name %></p>
                            <div class="modal-inner-container">
                                <ul>
                                        <% ingredients.forEach(el=>{%>
                                            <li>
                                                <%= el.ingredient%>
                                            </li>
                                            <%}) %>
                                </ul>
                                <ul style="list-style: none;">
                                        <% measures.forEach(el=>{%>
                                            <li>
                                                    <%= el.measure%>
                                            </li>
                                            <%}) %>
                                </ul>
                            </div>
                        </div>
                        <%}%>
                            <% }%>
            </div>
            <img src="images/background.jpeg" alt="backgroundImage" class="homepage-image">
        </div>
        <div style="width: 50%;">
            <div style="display: flex;justify-content: center;">
                <h1 class="title" style="font-size: 67px;">Mix it up</h1>
            </div>
            <div class="list-container">
                <form class="cocktail-list" action="/categories" method="post">
                    <label class="label">
                        <span>Alcoholic</span>
                        <% if(checked){%>
                            <input type="checkbox" name="drinkType" id="drinkType" checked>
                            <%}else{%>
                                <input type="checkbox" name="drinkType" id="drinkType">
                                <%}%>
                    </label>
                    <label class="label">
                        <span>Search by name</span>
                        <input type="text" name="cocktailName">
                    </label>
                    <button class="apply-button" type="submit">APPLY</button>
                    <hr class="line-break">
                    <div class="list-inner-container">
                        <ul class="list">
                            <% cocktailList.forEach(el=>{%>
                                <li style="padding-bottom: 10px;">
                                    <%= el.strDrink%>
                                </li>
                                <%}) %>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <%- include('parts/footer') %>