<%- include('parts/header') %>

    <div style="display: flex;">
        <div style="width: 50%;height: 100vh;">

            <div style="position: absolute;width: 50%;height: 100vh;display: flex;justify-content: center;">
                <%if(showModal===true){ if(cocktailNotFound !=='' ){%>
                    <div class="ingredients-modal">
                        <%= cocktailNotFound %>
                    </div>
                    <%}else{%>
                        <div class="ingredients-modal">
                            <p><%= name %></p>
                            <div class="modal-inner-container">
                                <ul>
                                        <% ingredients.forEach(el=>{%>
                                            <li>
                                                <%= el.ingredient%>
                                            </li>
                                            <%}) %>
                                </ul>
                                <ul style="list-style: none;">
                                        <% measures.forEach(el=>{%>
                                            <li>
                                                    <%= el.measure%>
                                            </li>
                                            <%}) %>
                                </ul>
                            </div>
                        </div>
                        <%}%>
                            <% }%>
            </div>
            <img src="images/background.jpeg" alt="backgroundImage" class="homepage-image">
        </div>
        <div style="width: 50%;">
            <div class="form-container">
                <h1 class="title" style="font-size: 67px;"><a href="/">Mix it up</a></h1>
                <form class="searchBar" action="/" method="post">
                    <input type="text" name="cocktailName" id="cocktailName" class="search-cocktail-bar"
                        placeholder="Search cocktail by name" autofocus>
                    <button type="submit" ><img src="images/icons/search-icon.svg"></button>
                </form>
                <div class="link-container">
                    <p class="categories-text">or search it by <span><a href="/categories">categories</a></span></p>
                </div>
            </div>
        </div>

    </div>


    <%- include('parts/footer') %>